@font-face{
    font-family: oleo;
    src: url(fonts/OleoScript-Regular.ttf);
}

.enterChat {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
    height: 100vh;
}

#chatFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 50px 50px 120px 50px;
    box-shadow: 1px 1px 4px #15422c;
    border-radius:3px;
    max-width: 95%;
    gap: 30px;
}

#chatLabel {
    margin: 30px;
    font-family: oleo; 
    font-size: 2.6rem;
    color: #15422c
}

.usernameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

#username {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    max-width: 87%;
    background-color: whitesmoke;
    border-bottom: 1px solid #15422c;
}

#username:focus {
    outline: none;
}

#enterChatButton {
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #CC0000;
    color: whitesmoke;
    width: 87%;
    cursor: pointer;
    max-width: 87%;
}

@media (max-width: 380px) {

    #chatLabel {
        margin: 0;
        font-size: 2.2rem;
    }
}