#loadingApp {
    background: linear-gradient( to bottom, #0D813A, #15422c );
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}