@font-face{
    font-family: oleo;
    src: url(fonts/OleoScript-Regular.ttf);
}

#navbarWrapper {
    display: none;
}

#topNavbar {
    position: fixed;
    width: 100%;
    list-style: none;
    height: 100px;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    background: linear-gradient( to bottom, #0D813A, #15422c );
    top: 0;
    box-shadow: 1px 1px 4px #202020;
}

.logoLink {
    display: flex;
    align-items: center;
}

#smallLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurantName {
    font-family: oleo;
    font-size: 1.5rem;
    color: whitesmoke;
    opacity: 0.9;
}

.logo {
    height: 75px;
    width: 100px;
    font-family: oleo;
    opacity: 0.9;
}

#smallScreenNavbar {
    display: none;
}

#barsButton {
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: whitesmoke;
}

.largeScreenLinks {
    font-size: 1.2rem;
}

#topNavbar a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

#navbarHome {
    padding-left: 5%;
    padding-right: auto;
    width: 40%;
}

#shoppingCart {
    font-size: 1.5rem;
}

#cartIcon {
    position: relative;
}

#cartAmountWrapper {
    position: absolute;    
    left: 18px;
    right: auto;
    bottom: 18px;
    top: auto;
    border-radius: 50%;
    width: auto;
    height:auto;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 20% 8% 20%;
}

#cartAmount {
    font-size: 0.9rem;
    color: whitesmoke;
}

#menu {    
    width: 100%;
    margin-top: 99px;
    list-style: none;
    background-color: rgb(139, 0, 0, 0.8);    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; 
}

#menu li {
    margin: 30px 5% 30px 5%;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-size: 1.1rem;
}

.smallScreenLinks {
    display: none;
}

@media (max-width: 770px) {

    #smallScreenNavbar {
        display: flex;
        background-color: rgb(21,66,44);
        padding: 25px;
        padding-bottom: 40px;
        align-items: center;
        gap: 25px;
        position: fixed;
        flex-direction: column;
        width: 100%;
        list-style: none;
        transform: translateX(-100%);
        transition: transform 0.7s;
        border-bottom: 1px solid #15422c;
    }

    
    #smallScreenNavbar a {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
        font-size: 1.2rem;
        text-decoration: none;
        color: whitesmoke;
    }

    #topNavbar {
        justify-content: space-between;
        padding-right: 10%;
        padding-left: 7%;
    }

    .largeScreenLinks {
        display: none;
    }

    .smallScreenLinks {
        display: initial;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
        font-size: 1.5rem;
    }
}