#menu {
    position: fixed;
    width: 100%;
    list-style: none;
    background-color: greenyellow;
    height: 80px;
    display: flex;
    justify-content: space-around;  
    align-items: center; 
    top: 0; 
}