.products {
    display: flex;
    justify-content: space-around;    
    margin-top: 20px;
    flex-wrap: wrap;
} 

.product {
    display: none;
}

.productImage {
    height: 200px;
    width: 200px;
}