.shoppingCart {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
} 

.cartDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartProducts {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
}

.cartItem {
    display: flex;
    border: 1px solid black;
}

.cartImage {
    width:150px;
    height: 150px;
}

.nameAndDescription {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 30px;
    max-width: 200px;
}

.controlQuantity {
    display: flex;
}

.quantityBox {
    border: 1px solid black;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 3px;
}

.cartButtons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}