.shoppingCart {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem {
    display: flex;
    border: 1px solid black;
}

.cartImage {
    width:200px;
    height: 200px;
}