@font-face{
    font-family: captcha;
    src: url(fonts/RockSalt-Regular.ttf);
}

.verifyPurchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#verificationTitle {
    margin-bottom: 100px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 90%;
}

#verifyForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
}

#mailAndCaptcha {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#mailCodeWrapper {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.verificationTitles {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#code {
    padding: 3px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

#code:focus {
    outline: none;
}

#or {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    align-self: center;
}

#getNewCode {
    padding: 5px;
    border: none;
    background-color: aquamarine;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#captchaWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#captchaInputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

#captchaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    letter-spacing: 3px;
    padding: 20px;
    max-width: 95%;
    gap: 20px;
    border: 1px solid gray;
    background-image: url("./images/captcha-bg.jpg");
}

#userCaptcha {
    padding: 2px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

#userCaptcha {
    outline: none;
}

#captchaLetters {
    font-size: 2.5rem;
    font-family: captcha;
    font-weight: 600;
    transform: skew(35deg) rotateX(30deg);
    text-shadow: 3px 3px 10px black;
}

#refreshCaptcha {
    padding: 7px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

#confirmPurchase {
    padding: 10px;
    border: none;
    background-color: chocolate;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

@media (max-width: 500px) {

    #verificationTitle {
        font-size: 1.3rem;
        max-width: 90%;
        text-align: center;
    }

    #mailInputWrapper {
        display: flex;
        gap:20px;        
        flex-direction: column;
        align-items: center;
    }    

    #captchaInputWrapper {
        flex-direction: column;
    }

    #captchaBox {
        margin-left: auto;
        margin-right: auto;
    }

    .verificationTitles {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #mailAndCaptcha {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

@media (min-width: 481px) and (max-width: 770px) {
    
    #mailAndCaptcha {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}